.d-flex {
  display: flex;
  gap: 10px;
}
.column {
  flex-direction: column;
}

#adress {
  flex-basis: 300px;
  flex-wrap: wrap;
}
#header-first-row,
.header-second-row {
  align-items: flex-start;
}
#header-second-row {
  align-items: baseline;
}
p,
h1,
h2 {
  margin: 0;
}
.first-col {
  flex-basis: 145px;
}
.border-bottom-separator {
  border-bottom: 2px solid #dddddd;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

#main-first-row {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  color: #000;
  margin-bottom: 20px;
}
#experience {
  flex-basis: 600px;
  flex-wrap: wrap;
}

/* Ligne d'en-tête */
.header-row {
  display: flex; /* Alignement horizontal */
  justify-content: space-between; /* Séparation maximale entre les colonnes */
  align-items: center; /* Alignement vertical centré */
  width: 100%;
}

/* Titre principal */
h3.first-col {
  font-size: 16px;
  font-weight: bold;
  color: #1A2F87; /* Bleu */
  margin: 0;
  text-transform: uppercase;
  flex-shrink: 0; /* Empêche le redimensionnement */
}

/* Titre du poste */
h4.first-col {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  margin: 0 10px;
  flex-grow: 1; /* Prend l'espace restant */
  text-align: left;
}

/* Date alignée à droite */
h2 {
  font-size: 14px;
  color: #1A2F87; /* Bleu */
  font-weight: bold;
  margin: 0;
  flex-shrink: 0; /* Empêche le redimensionnement */
  text-align: right;
}

/* Alignement horizontal des éléments dans le contenu */
.content-row {
  display: flex; /* Utilise flexbox pour aligner ul horizontalement */
  align-items: center; /* Aligne verticalement la liste et h4 */
  padding-left: 10em;
}
  

/* Liste des tâches */
ul {
  margin: 0; /* Retirer marges inutiles */
  padding: 0; /* Retirer padding global */
  list-style: disc; /* Ajouter des puces classiques */
}

li {
  font-size: 13px;
  line-height: 1.5;
}
